img{
    max-width: 100%;
    height:auto;
}

.land{
    position: relative;
    top:-600px;
    text-align:center;
    color:white;
}

#first{
    position: relative;
    text-align:center;
    margin-bottom: 100px;
}

#last{
    position: relative;
    margin-top:100px;
    text-align:center;
}

h1{
    font-size:4em;
}

.about{
    margin-top: -470px;
    text-align: center;
}

.service{
    position: relative;
    top:-300px;
    text-align:center;
    color:white;
}

.serv{
    margin-top: 150px;
}

.cont>h1{
    margin-top: -100px;
    text-align: center;
    margin-bottom: 50px;
}

.row{
    text-align: center;
}

.port>h1{
    margin-top: 70px;
    text-align: center;
    margin-bottom: 30px;
}

.broad>img{
    margin-right: 10px;
    margin-bottom: 20px;
    width:23%;
    margin-left: 10px;
}

.back{
    margin-top: 40px;
}

.contacts{
    background-image: url("https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/c_image.jpg");
    text-align: center;
    color:white;
    margin-top: 50px;
    padding:10px;
}

.nam{
    background-color: transparent;
}

#adjust{
    width:25%;
    height:40px;
}

#button{
    background-color: aqua;
    color:white;
    border:none;
    height:40px;
    margin-top:-40px;
    width:90px;
    margin-left: 550px;
}

#button:hover{
    background-color: blue;
}


.icons{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.stud{
    text-align: center;
    margin-top: 50px;
}

.para{
    display: none;
}